body {
    margin: auto 0;
    padding: 0;
}


/* nav bar */

.first-nav {
    margin: 0;
    width: 100%;
    background-color: #1a1a1a;
}

.navbar-brand>img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3rem;
}

.search-box {
    margin: 0.5rem;
    justify-content: center;
}

.search-bar {
    width: 60%;
}

.search-bar>button {
    background-color: #fc2b2b;
    color: black
}

.cart {
    color: black;
    background-color: #ffffff;
}

.nav-item>a {
    margin-left: 2rem;
    margin-right: 2rem;
}