body {
    margin: 0;
    padding: 8rem;
}


/* Offers section */

.carousel-slide {
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

.carousel-inner .carousel-item .jumbotron {
    text-align: center;
    background-color: #fc2b2b;
    margin: 0.6rem;
    height: 20rem;
    border-radius: 2rem;
    padding: 5.5rem;
}